* {
	margin: 0;
	padding: 0;
	font-family:sans-serif; 
}
body {
	background-color: #DDDDDD;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
#header {
	background:url(images/header.jpg) repeat-x #555;
	overflow: hidden;
	width: 100%;
	height: 70px;
	padding: 10px;
	margin: 20px 0;
	overflow: hidden;
}
#header img{
	width: 130px;
	height: 35px;
}
#menu-utama {
	list-style: none;
}
#menu-utama li{
	padding: 10px;
	float: left;
	border-right: 1px solid black;
}
#menu-utama li a{
	text-decoration: none;
	color: white;
}
#header form input{
	float: right;
	margin-top: 7px;
	margin-right: 20px;
}
#daftar-artikel {
	float: left;
	width: 670px;
}
.artikel {
	background-color: white;
	padding: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}
.artikel img{
	width: 240px;
	height: 160px;
	float: left;
	margin-right: 10px;
}
.artikel h2 a{
	color: red;
	text-decoration: none;
	background-color: unset;

}
.artikel h2 a:hover{
	color: black;
}
.artikel b {
	font-size: 14px;
	background-color: #DDDDDD;
	padding:1px;
	margin-right: 10px;

}
.artikel p{
	font-size: 12px;
	margin: 10px 0;
}

.artikel a {
	text-decoration: none;
	background-color: red;
}

#daftar-sidebar {
	width: 280px;
	float: right;
	background-color: white;
	padding-bottom: 165px;
}

#daftar-sidebar h2{
	background-color: red;
	font-size: 18px;
	text-align: center;
	padding: 5px;
}
#daftar-sidebar p{
	padding: 5px;
	color: #555555;
}
#daftar-sidebar ul{
	margin-left: 20px;
	padding: 5px;
}
#daftar-sidebar ul li {
	padding-bottom: 10px;
}
#daftar-sidebar ul li a{
	text-decoration: none;
	color: #555555;
}
#daftar-sidebar ul li a:hover{
	background-color: red;
}

#footer {
	clear: both;
	background-color: #f0f0f0;
	text-align: center;
	margin: 20px 0;
	padding: 5px;
	color: #555555;
}
#atas a img{
	width: 50px;
	position:absolute;
	position: fixed;
	bottom: 0;
	right: 0;
}